*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

.marker {
  width: 400px;
  height: 50px;
  margin: 20px auto;
  border-radius: 3  px;
}

.red {
  background: linear-gradient(180deg, #800000, #FF0000 50%, #BF0000 100%);
  box-shadow: 0 2px 20px 0 #400000;
}

.orange {
  background: linear-gradient(180deg, #802A00, #FF5500 50%, #D44700 100%);
  box-shadow: 0 2px 20px 0 #401500;
}

.yellow {
  background: linear-gradient(180deg, #808000, #FFFF00 50%, #BFBF00 100%);
  box-shadow: 0 2px 20px 0 #404000;
}

.green {
  background: linear-gradient(180deg, #008000, #00FF00 50%, #00BF00 100%);
  box-shadow: 0 2px 20px 0 #004000;
}

.cyan {
  background: linear-gradient(180deg, #008080, #00FFFF 50%, #00BFBF 100%);
  box-shadow: 0 2px 20px 0 #004040;
}

.blue {
  background: linear-gradient(180deg, #000080, #0000FF 50%, #0000BF 100%);
  box-shadow: 0 2px 20px 0 #000040;
}

.violet {
  background: linear-gradient(180deg, #400040, #800080 50%, #660066 100%);
  box-shadow: 0 2px 20px 0 #400040;
}

.sleeve {
  background-color: white;
  width: 220px;
  height: 50px;
  opacity: 0.5;
  border-left: 20px double rgba(0, 0, 0, 75%);
  position: relative;
}

.cap {
  width: 120px;
  height: 50px;
}

.cap, .sleeve {
  display: inline-block;
  border-radius: 1px;
}

.sleeve p {
  position: absolute;
  font-weight: 600;
  letter-spacing: 2px;
  left: 70px;
  top: -25px;
  font-size: 30px;
}